flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ee1dd5bb.96c34","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["6b9b7f9c.6c2918"]]},{"id":"6b9b7f9c.6c2918","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":200,"wires":[]},{"id":"dd85cd93.83c938","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":100,"y":300,"wires":[["ee4e9f5.cf807e"]]},{"id":"12d674ec.aaea7b","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":440,"y":300,"wires":[]},{"id":"ee4e9f5.cf807e","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":300,"wires":[["12d674ec.aaea7b"]]}]